.main {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-rows: 100svh;
  grid-template-columns: auto 1fr;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 15rem auto 1fr;
    column-gap: 1rem;
  }
}